#waybar {
  background-color: black;
  color: white;
  border-bottom: 1px solid darkslategrey;
}

#idle_inhibitor {
  color: @grey2;
}

#battery,
#backlight,
#memory,
#cpu,
#idle_inhibitor,
#language,
#network,
#wireplumber,
#clock {
  margin: 0px 15px;
}

#battery {
  color: crimson;
}

#battery.charging,
#battery.plugged,
#battery.full {
  color: lawngreen;
}

#backlight {
  color: lightpink;
}

#memory {
  color: deepskyblue;
}

#cpu {
  color: lightsalmon;
}

#idle_inhibitor {
  color: darkgrey;
}

#language {
  color: deeppink;
}

#network {
  color: paleturquoise;
}

#network.disconnected {
  color: crimson;
}

#wireplumber {
  color: gold;
}

#wireplumber.muted {
  color: grey;
}

#clock {
  color: springgreen;
}

#tray {
  border-bottom: 1px solid royalblue;
}
